/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #1e293b;
  color: white;
}

/* LOGO */
.logo {
  font-size: 22px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #cbd5f5;
  font-size: 16px;
}

.nav-links a:hover {
  color: white;
}

/* ACTIVE LINK */
.active {
  color: #38bdf8 !important;
  font-weight: bold;
}

/* AUTH BUTTONS */
.auth-buttons {
  display: flex;
  gap: 10px;
}

/* BUTTONS */
.login-btn {
  background: #0ea5e9;
  border: none;
  padding: 6px 12px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn {
  background: transparent;
  border: 1px solid #0ea5e9;
  padding: 6px 12px;
  color: #0ea5e9;
  border-radius: 5px;
  cursor: pointer;
}

/* HOVER */
.login-btn:hover {
  background: #0284c7;
}

.register-btn:hover {
  background: #0ea5e9;
  color: white;
}