/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

/* LINKS */
a {
  text-decoration: none;
}

/* BUTTON GLOBAL */
button {
  cursor: pointer;
  font-family: inherit;
}

/* SCROLLBAR (optional) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 10px;
}

/* CONTAINER (optional helper) */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}